<%= render "shared/header" %>
<div class='main'>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>
      <%= @category.name if @category && @category.id != 1%>
      <%= "「#{@word}」の検索結果" if @word && @word != "" %>
    </h2>
    <ul class='item-lists'>

      <% @products.each do |product| %>
        <%= render partial: "shared/product", locals: {product: product} %>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <a href= '/products/new'>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>
<%= render "shared/footer" %>